.container {
  width: 100%;
  background: white;
}
.container-conteudo {
  width: 100%;
  background: #F0EFEE;
}
.container-conteudo-wrapper{
  background: #F0EFEE;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
}
@media(max-width: 420px) {
  .container-conteudo-wrapper {
    background: white;
    margin-top: 0px;
  }
  .container-conteudo{
    background: white;
  }
}
.container-menu {
  background: white;
  max-width: 1200px;
  margin: 0 auto;
 
}
.container-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

.item-center {
  align-items: center;
}
img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
   background: #F0EFEE;
}